
[data-bs-theme="dark"] {
    a, .nav-link{
        color: #7ea9f2;
    }
    a:hover, .nav-link:hover, .navbar-brand:hover, .nav-link:hover, .dropdown-item:hover{
        color: #efe98f;
    }
}

[data-bs-theme="light"] {
    .link, .nav-link, .navbar-brand{
        color: #0243b3;
    }
    .link:hover, .nav-link:hover, .navbar-brand:hover, .nav-link:hover, .dropdown-item:hover{
        color: #4287fa;
    }
}
